* {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

#navbar {
    background-color: beige;
    padding: 20px;
}

#navbar > ul {
    list-style-type: none;
}

#navbar > ul > li {
    display: inline-block;
    font-size: 20px;
    margin: 0 30px;
    padding: 10px;
}

ul {
    padding-left: 0;
}

li {
    list-style-position: inside;
}

img {
    width: 500px;
    height: auto;
}

.description {
    text-align: center;
}