* {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar > li {
    display: inline;
}

ul {
    padding-left: 0;
}

li {
    list-style-position: inside;
}

img {
    width: 500px;
    height: auto;
}

.description {
    text-align: center;
}